
body {
    font-family: Lato;
    min-height: 100vh;
}


* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

.header {
    max-width: 100vw;
}

/*верхняя менюшка*/
.block__wrap {

    background: #222222;
    width: 100%;
    display: flex;
    justify-content: center;

}

.wrap {
    padding: 19px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo:not(:last-child) {
    margin: 0 41px 0 0;
}

.logo_right:not(:last-child) {
    margin: 0 33px 0 0;
}

.header__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*страница index.html*/
/*верхняя картинка*/
.item__background {
    background-color: #F1E4E6;
    min-height: 764px;
    margin-bottom: 65px;
}

.item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("img/main/header/boy-removebg-preview 1.png");
    background-repeat: no-repeat;
    background-position: -228px 0;
    height: calc(100vh - 80px);
    background-size: 100vh;
}

.item__text {
    width: 40%;
    border-left: 12px solid #F16D7F;
    padding: 0 0 0 16px;
    max-width: 421px;
}

.text_bold {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.item__text__stile {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    font-style: normal;
}

.text_red {
    color: #F16D7F;
}

/*менюшка в хэдере*/

.menu__item {
    width: 232px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    position: absolute;
    right: 0;
    top: 80px;
    padding-left: 33px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.nav__close {
    border: none;
    background: none;
    cursor: pointer;

}

.header__menu {
    padding-right: 33px;
}

#burger {
    visibility: hidden;
}

#burger:checked ~ .header__nav {
    display: block;
}

#burger:not(checked) ~ .header__nav {
    display: none;
}

.menu__item__x {
    margin: 16px 17px 9px 158px;
    width: 12px;
    height: 12px;
    color: #6F6E6E;
}

.menu__item__list {
    list-style: none;

}

.menu__item__list a {
    text-decoration: none;
}

.list__content a {
    text-decoration: none;
    color: #6F6E6E;

}

.menu__item__header {
    padding-bottom: 24px;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    font-weight: 700;
}

.menu__item__subtitle {
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    font-weight: 400;
}

.menu__item__subtitle a{
    color: #F16D7F;
}
.list__content {
    padding-bottom: 11px;
    padding-left: 21px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    font-weight: 400;
    text-decoration: none;
}
.list__content a{
    color: #6F6E6E;
}


/*средний блок*/
.block__top__section {
    display: flex;
    justify-content: space-between;
}

.block__top__section__link {
    text-decoration: none;
    color: #F16D7F;
}

.block__text {
    width: 360px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 260px;
    margin-bottom: 30px;
}

.block__woman {
    background-image: url("img/main/block/women.png");
}

.block__men {
    background-image: url("img/main/block/for-men.png");
}

.block__kids {
    background-image: url("img/main/block/kids.png");
}

.block__accesories {
    background-image: url("img/main/block/accesories.png");
    height: 180px;
    width: 100%;
}

.top__text__block {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.bottom__text__block {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

/*катрочки товаров*/
.card__header {
    text-align: center;
    margin-bottom: 48px;
}

.hover {
    position: relative;
}

.hover:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: 0.5s;
}

.btn {
    cursor: pointer;
}

.card__header__text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;

}

.header__text__card {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.card__features {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    flex-wrap: wrap;
    position: relative;
}

.card__product {
    width: 360px;
    background: #F8F8F8;
    margin-bottom: 30px;
}


.caption {
    text-align: left;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding: 25px 0 13px 18px;

}

.card__link {
    text-decoration: none;
}

.card__caption {
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding: 0 28px 18px 18px;
}

.card__price {
    text-align: left;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding: 0 0 20px 18px;
}

.buttom__card {
    padding: 13px 38px;
    border: 1px solid #FF6A6A;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    position: absolute;
    left: 42%;

    cursor: pointer;
}

.buttom__card:active {
    background: #E05C6E;
    color: #FFFFFF;
}
.card{
    border: none;
    background: none;
}

/*подвал*/
/*три иконки на черном фоне*/
.footer {
    background: #222224;
    height: 350px;
    width: 100%;
    margin-top: 191px;
}

.footer__nav {
    padding-top: 104px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 104px;
}

.footer__nav__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__nav__img {
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 28px;
}

.footer__nav__head {
    text-align: center;
    padding-bottom: 16px;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;

}

.footer__nav__text {
    text-align: center;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    padding: 0 40px 0 40px;

}

/*беграунд -картинка*/
section {
    background: url("img/main/footer/background-photo-subscribe.png");
    height: 448px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    align-items: center;

}

.section__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 97px;
    padding-bottom: 126px;
}

.communication {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.communication__text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    padding-top: 15px;
}

.subscribe {
    padding-right: 61px;
}

.subscribe__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
}

.subscribe__text__bold {
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
}

form {
    border: none;
    padding-top: 32px;
}

.flex {
    display: flex;
}

.form__text {
    padding: 7px 64px 7px 22px;
    border-radius: 25px 0 0 25px;
    background: #E1E1E1;
    border: none;
}

.form__text::placeholder {
    padding: 10px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
}

.form__text:focus {
    outline: none;
    border: 1px solid red;
}

.form__button {
    border-radius: 0 25px 25px 0;
    border: none;
    background: #E05C6E;
    padding: 18px;
}

.footer__bottom {
    background: #222224;
    width: 100%;

    height: 79px;
}

.footer__bottom__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer__bottom__address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

svg.footer__bottom__icon {

    width: 32px;
    height: 32px;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 9px;
}

svg.footer__bottom__icon:hover {

    background: #f16d7f;
    width: 32px;
    height: 32px;
    fill: #F5F3F3;
    padding: 9px;

}
.footer__bottom__contact a{
    text-decoration: none;
}


/*страница каталога*/
.menu__catalog__background {
    background: #F8F3F4;
    height: 148px;
    width: 100%;
    padding-top: 59px;
}

.menu__catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__catalog {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.menu__header__catalog {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.menu__header__catalog:hover {
    color: #F16D7F;
    font-weight: 700;
}

.card__catalog {
    display: flex;
    justify-content: space-between;

}

.card__catalog__top {
    margin-top: 51px;
    margin-bottom: 51px;
    display: flex;
}

/*каталог фильтра*/

.catalog__card {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.left__catalog__card {
    box-sizing: border-box;
    margin-top: -20px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 360px;
    padding-top: 16px;
    padding-left: 17px;
}

.left__catalog__card::-webkit-details-marker {
    display: none;
}

.left__catalog__card[open] {
    padding-left: 10px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    background: #FFFFFF;
    padding-bottom: 28px;

}

.left__catalog__card[open] > summary {
    color: #F16D7F;
    border: none;
    fill: #F16D7F;
}

.left__catalog__card__filter {
    position: absolute;
    width: 360px;
    height: 531px;
    z-index: 1;
    left: 230px;
}

h4.menu__catalog {
    margin-right: 11px;
}

.left__catalog__card__header {
    display: flex;
    /*padding-left: 13px;*/
}

.left__catalog__card__list {
    font-size: 14px;
    line-height: 17px;
    color: #EF5B70;
}

summary.list {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #EF5B70;
    display: block;
    height: 37px;
    border-left: 5px solid #EF5B70;
    border-bottom: 1px solid #EBEBEB;
    margin-top: 38px;
    padding: 10px;
}

ul {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    list-style: none;
}

.left__catalog__card__section {
    padding-bottom: 11px;
    padding-left: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;

}

a.left__catalog__card__section {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-bottom: 11px;
}

h4.catalog__card__filter {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

svg.catalog__card__filter {
    margin-top: 7px;
    margin-left: 11px;
}

/*правый фильтр*/

.right__catalog__card {
    box-sizing: border-box;
    display: flex;
    /*align-items: center;*/
    position: absolute;
    margin-left: 400px;
}




    /*всплывающее меню size*/
.right__catalog {

    margin-right: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.catalog__input{
    display: flex;
}

.right__catalog__size {
    width: 79px;
    position: relative;
}

.right__catalog__size::-webkit-details-marker {
    display: none;
}

.right__catalog__size[open] {
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 79px;
    z-index: 1;
    /*position: relative;*/
    padding: 5px;
}

.right__catalog__size[open] > summary {
    border: none;
    outline: none;
}

.right__catalog__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}


.catalog__card__nav {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.catalog__style {
    width: 10px;
    height: 5px;
}

.catalog__size {
    position: absolute;
    left: 31px;
}

/*розовый фон на карточке*/
.catal__background__card {
    margin-bottom: 35px;
}

.catal__background__card:hover {

    background: url("img/main/map/map7-2.jpg");
    background-repeat: no-repeat;
}

.png {
    margin-left: 90px;
    margin-bottom: 24px;
}

/*форма для перелистывания страниц*/

.turn__pages {
    display: flex;
    border: 1px solid #EBEBEB;
    width: 283px;
    height: 43px;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
}

.turn__pages__box {
    display: flex;
    justify-content: space-around;
    width: 203px;
    height: 19px;
    margin: 0 10px 0 -8px;
    padding-bottom: 4px;
    align-items: center;
}

.turn__pages__link {
    text-decoration: none;
}

.turn__pages__number {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #5D5D5D;
    padding-left: 10px;
}

.turn__pages__number:active {
    color: #EF5B70;
}

.turn__pages__img {
    align-items: center;
    padding-top: 4px;

}


/*страница продукт*/
/*верхняя часть с фотографией*/
.product__background {
    max-width: 100vw;
    height: 777px;
    background: url("img/product/backround.png");
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    z-index: -1;
}



.product__background__photo {
    margin-top: -57px;
    position: absolute;
}

.arrow__left {
    background: rgba(42, 42, 42, 0.15);
    width: 47px;
    height: 47px;
    position: absolute;
    left: 0;
    padding: 12px 17px;
    fill: #101010;
}



.arrow__left:hover{
    background: rgba(42, 42, 42, 0.15);
    fill: #F16D7F;
}




.arrow__right {
    background: rgba(42, 42, 42, 0.15);
    width: 47px;
    height: 47px;
    position: absolute;
    right: 0;
    padding: 12px 17px;
}

.arrow__right:hover {
    fill: #F16D7F;
}


/*описание товара*/
.product__description {
    border: 1px solid #EAEAEA;
    width: 1140px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -55px;
    background: #FFFFFF;
    z-index: 1;
}

.product__description__header {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    padding: 64px 0 12px 0;
}

.description__header {
    background: #EF5B70;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 3px;
    width: 63px;
}

.description__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    padding: 12px 0 49px 0;
}

.description__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    display: inline-block;
    width: 555px;
}

.product__description__prise {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    padding: 32px 0 65px 0;
}

.product__description__hr {
    border: 1px solid #EAEAEA;
    width: 641px;
    margin-bottom: 65px;
}

.product__background__choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__description__link {
    margin: 0 26px 0 13px;
}


.product__description__view {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.product__description__set {
    text-decoration: none;
    margin: 0 26px 0 13px;
    display: flex;
    align-items: center;
}

/*кнопка корзина*/
.basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 211px;*/
    border: 1px solid #FF6A6A;
    margin: 48px 0 65px 0;
    padding: 14px 56px 14px 26px;
    background: none;
    cursor: pointer;
}
.basket a{
    display: flex;
}

.basket__link :hover {
    transition: all 1s;
    background: url("img/main/map/map6.png");
    transform: scale(2);
    border: none;

}

@keyframes example {
    0% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(-30px) scale(2);
    }
}

.basket__link :hover {
    animation: example 1s infinite alternate;
}

.basket__text {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}


.basket__img__box {
    margin-right: 10px;
}

.basket__text__box {
    margin-left: 10px;
}

.basket__link {
    text-decoration: none;
}

.basket__img {
    color: #E05C6E;
    fill: #E05C6E;
}


/*блок с карточками стр. product*/

.product__card {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    flex-wrap: wrap;
    position: relative;
    padding: 129px 0;
}


/* страница regystratyon*/
.registration {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.registration__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    background: none;
    align-items: flex-start;
}

.registration__form h4 {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.registration__form input {
    border: 1px solid #A4A4A4;
    padding-top: 13px;
    padding-bottom: 16px;
    padding-left: 17px;
    margin-top: 20px;
    width: 359px;
}

.registration__radio {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 208px;
    margin-left: -10px;
}
.registration__radio__left{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 70%;
}
.registration__radio__righ{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 30%;
    opacity: 0;
}


.registration__radio input {
    margin-top: 0;
}


.registration__radio p {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.registration__form p {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-top: 16px;
    display: inline-block;
    width: 359px;
    margin-bottom: 39px;

}

.registration__btn {
    background: #F16D7F;
    border: none;
    cursor: pointer;
    display: flex;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
    justify-content: space-evenly;
    align-items: baseline;
    padding-left: 20px;

}


button:hover {
    transition: all 5s;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #E05C6E;
}


.registration__btn h4 {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 16px 20px 17px 29px;
}

.registration__btn h4:hover {
    transition: all 5s;
    color: #E05C6E;
}

.registration__btn svg {
    fill: white;
    margin: 20px 15px 20px 15px;
}

.loyalty {
    margin-left: 129px;
}

.loyalty header {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-bottom: 22px;
}

.loyalty p {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-bottom: 21px;
}

.loyalty li {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    list-style: url("img/registration/li.svg");
    padding: 0 0 16px 24px;

}

.loyalty ul {
    margin-left: 23px;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.central{
    flex-grow: 1;
}

/*медиазапрсы адаптивность*/


@media (max-width: 1024px) {

    /*главн страница*/
    .wrap {
        padding: 19px 16px;
    }

    .menu__catalog__background {
        padding-left: 16px;
        padding-right: 16px;
    }

    .item {
        background-image: url("img/main/header/boy-removebg-preview 1.png");
        background-repeat: no-repeat;
        background-position: 37px 176px;
        background-size: 36%;
    }

    .item__background {
        height: 368px;
        display: flex;
        align-items: center;
        min-height: 0;
        margin-bottom: 20px;
    }

    .item__text {
        border-left: 12px solid #F16D7F;
        padding: 0 0 0 15px;
        margin-right: 33px;
    }

    .item__text__stile {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #222222;
    }

    .menu__item {
        height: auto;
    }

    .text_bold {
        font-size: 44px;
        line-height: 53px;
        color: #222222;
    }
    .card__product:nth-child(3) {
        display: none;
    }
    .product__card{
        justify-content: space-evenly;
    }


    .block_section {
        padding-right: 15px;
        padding-left: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .block__woman {
        width: 232px;
        height: 168px;
        background-image: url("img/main/block/prtview768.png"), url("img/main/block/women768.png");
        background-repeat: no-repeat;
    }

    .block__men {
        width: 232px;
        height: 168px;
        background-image: url("img/main/block/prtview768.png"), url("img/main/block/for-men768.png");
        background-repeat: no-repeat;
    }

    .block__kids {
        width: 232px;
        height: 168px;
        background-image: url("img/main/block/prtview768.png"), url("img/main/block/kids768.png");
        background-repeat: no-repeat;
    }

    .block__men {
        margin-left: 15px;
        margin-right: 15px;
    }

    .card__features {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100vw;
        padding: 0 15px;
        justify-content: space-evenly;
    }

    .footer {
        height: auto;
    }

    .footer__nav {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__nav__box {
        margin-bottom: 64px;
    }

    section {
        box-sizing: border-box;
        background-size: 1600px;

    }

    .section__footer {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 0;
    }

    .communication {
        margin: 95px 0 48px 0;
    }

    .communication__text {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
}

    .footer__bottom__address {
        padding: 24px 16px 0;
    }

    /*стр catalog*/
    .right__catalog__card {
        right: 7%;
    }

    .left__catalog__card__filter {
        left: 10%;
    }

    .left__catalog__card {
        padding-left: 0;
    }

    .catalog__background__card:nth-of-type(3) {
        display: none;
    }

    .footer {
        margin-top: 63px;
    }

    .turn__pages {
        margin-top: 24px;
    }
/*    registration*/
    .loyalty{
        margin-left: 0;
        width: 35%;
    }
    .loyalty header{
        font-size: 16px;
        line-height: 19px;
margin-bottom: 32px;
    }
    .loyalty p{
        font-size: 16px;
        line-height: 19px
    }
    .loyalty li{
        font-size: 16px;
        line-height: 19px
    }
    .registration{
        padding-top: 40px;
        justify-content: space-evenly;
        padding-bottom: 96px;

    }

    .registration__radio__righ{
        opacity: 1;
    }



}

@media (max-width: 768px) {
    .item {
        background-image: url("img/main/header/boy-removebg-preview 1.png");
        background-repeat: no-repeat;
        background-position: 37px 289px;
        background-size: 50%;
    }

    .menu__catalog {
        padding: 0 16px;
    }

    .menu__item {
        height: auto;
    }

    .catalog__background__card:nth-of-type(3) {
        display: none;
    }


    section {
        box-sizing: border-box;
        background-size: 1600px;
        background: url("img/main/footer/background1024.png");
    }
    .footer{
        margin-top: 102px;
    }

    /*стр catalog*/
    .left__catalog__card__filter {
        left: 3%;
    }

    .right__catalog__card {
        right: 0;
    }

    .turn__pages {
        margin-top: 56px;
    }

    /*.footer {*/
    /*    margin-top: 63px;*/
    /*}*/

    section {
        width: 768px;
        height: 693px;
    }

    .communication {
        margin: 0 0 48px 0;
    }

    .subscribe {
        padding-right: 0;
    }

    /* стр product   */
    .product__description {
        max-width: 768px;
    }

    .product__card {
        max-width: 768px;
        justify-content: space-around;

    }

    .card__product:nth-child(3) {
        display: none;
    }
    /*img.card__map {*/
    /*    display: block;*/
    /*}*/
}

@media (max-width: 667px) {
    .logo__men {
        display: none;
    }

    .header__menu {
        padding-right: 16px;
    }

    .menu__item {
        height: auto;
    }

    .block_section {
        margin-left: 22%;

    }

    .block__top__section {
        flex-wrap: wrap;

    }

    .block__woman {
        background-image: url("img/main/block/women.png");
        width: 360px;
        height: 260px;
    }

    .block__men {
        background-image: url("img/main/block/for-men.png");
        width: 360px;
        height: 260px;
    }

    .block__kids {
        background-image: url("img/main/block/kids.png");
        width: 360px;
        height: 260px;
    }

    .block__accesories {
        background-image: url("img/main/block/accesories.png");
        background-repeat: no-repeat;
        margin-left: -23%;

    }

    .buttom__card {
        left: 34%;
    }

    .item__text {
        width: auto;
        margin-right: 159px;
    }

    .block__men {
        margin-left: 0;
        margin-right: 0;
    }

    .section__footer {
        padding-top: 20px;
    }

    .footer__bottom__address {
        height: 143px;
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 9px;
        padding-top: 40px;
    }

    .footer__bottom {
        height: 143px;
    }
    .right__catalog{
        margin-left: 0;
        margin-right: 0;
    }
    .right__catalog__card{
        margin-left: 0;
        margin-right: 0%;
    }
    .catalog__style{
        margin-left: 9px;
    }
    .product__description{
        max-width: 100vw;
    }
.product__card{
    max-width: 100vw;
}
    img.card__map {
        display: none;
    }

/*registration*/
    .registration{
        flex-direction: column;
        align-items: center;
    }
    .registration__btn{
        margin-right: 0;
        margin-bottom: 40px;
    }
    .loyalty{
        width: 96%;
        padding: 40px 10px 0;
    }

}

@media (max-width: 375px) {
    .logo__men {
        display: none;
    }

    .header__right {
        margin-right: -15px;
    }
    h4.catalog__card__filter {
        display: none;
    }
    .catalog__card__nav{
        font-size: 12px;
        line-height: 14px;

        color: #6F6E6E;
    }
    svg.catalog__card__filter{
        width: 38px;
        height: 25px;
        margin-left: 0;
    }

    .item {
        background-image: none;
        justify-content: center;
    }

    .text_bold {
        font-size: 38px;
        line-height: 46px;
    }

    .item__text__stile {
        font-size: 20px;
        line-height: 24px;
    }

    .item__text {
        width: auto;
        margin-right: 0;
    }
    /*catalog*/
    .left__catalog__card__filter{
        width:0;
    }



    .menu__catalog__background {
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
    }

    .menu__catalog {
        flex-direction: column;
        padding: 24px 83px 46px 83px;
    }

    .header__catalog {
        padding-bottom: 32px;
    }

    .menu__item {
        height: auto;
    }

    .block__top__section {
        margin-left: -26%;
    }

    .block__men {
        margin-right: 0;
        margin-left: 0;
    }

    .block__accesories {
        background-image: url("img/main/footer/block__accesories.png");
        height: 111px;
        background-repeat: no-repeat;

    }

    .buttom__card {
        left: 22%;
    }

    section {
        height: 550px;
    }

    .subscribe__text__bold {
        line-height: 37px;
    }

    .subscribe__text {
        line-height: 24px;
    }

    .communication__text {
        width: 343px;
        line-height: 22px;

    }
    .communication{
        margin-top: 54px;
    }
    .catalog__style{
        margin-left: 9px;
    }

    .subscribe {
        padding-right: 0;
    }

    .footer__bottom {
        height: 143px;
    }

    .footer__bottom__address {
        height: 143px;
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 9px;
        padding-top: 40px;
    }
    .right__catalog{
        margin-left: 0;
        margin-right: 0;
    }
    .right__catalog__card{
        margin-left: 0;
        margin-right: -7%;
    }
/*    produkt*/

.product__description__view{
    font-size: 10px;
    line-height: 12px;
    color: #6F6E6E;
}
.product__description{
    max-width: 100vw;
}
.product__card{
    flex-wrap: wrap;
    width: 95vw;
    }
/*registration*/
    .registration__form{
        align-items: center;
    }

}

