

body {
    font-family: Lato;
}


* {
    margin: 0;
    padding: 0;
    max-width: 1600px;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

/*верхняя менюшка*/
.block__wrap {

    background: #222222;
    width: 100%;
    display: flex;
    justify-content: center;

}

.wrap {
    padding: 19px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo:not(:last-child) {
    margin: 0 41px 0 0;
}

.logo_right:not(:last-child) {
    margin: 0 33px 0 0;
}

/*верхняя картинка*/
.item__background {
    background-color: #F1E4E6;
    min-height: 764px;
    margin-bottom: 65px;
}

.item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("img/main/header/boy-removebg-preview 1.png");
    background-repeat: no-repeat;
    height: 764px;
    /*background-size: 65%;*/
    background-position: -228px 0;

}

.item__text {
    width: 40%;
    border-left: 12px solid #F16D7F;
    padding: 0 0 0 16px;
    max-width: 421px;
}

.text_bold {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.item__text__stile {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    font-style: normal;
}

.text_red {
    color: #F16D7F;
}

/*менюшка в хэдере*/

.menu__item {
    width: 232px;
    height: 764px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    position: absolute;
    right: 0;
    padding-left: 33px;

}
.menu__button{
    border: none;
    background: none;
    cursor: pointer;

}
/*.menu__button:active{*/
/*    display:none;*/
/*}*/
.menu__item__x{
    margin:16px 17px 9px 158px;
    width: 12px;
    height: 12px;
    color: #6F6E6E;
}
.menu__item__list{
    list-style: none;
}
.menu__item__header{
    padding-bottom: 24px;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    font-weight: 700;
}
.menu__item__subtitle{
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    font-weight: 400;

}
.list__content{
    padding-bottom: 11px;
    padding-left: 21px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
font-weight: 400;
}


/*средний блок*/
.block__top__section {
    display: flex;
    justify-content: space-between;
}

.block__text {
    width: 360px;
    /*margin(none: last-child):0 35 px 0 0;*/
    justify-content: center;
    display: flex;
    align-items: center;
    height: 260px;
    margin-bottom: 30px;
    /*flex-grow(none: last-child): 1;*/
}

.block__woman {
    background-image: url("img/main/block/women.png");
}

.block__men {
    background-image: url("img/main/block/for men.png");
}

.block__kids {
    background-image: url("img/main/block/kids.png");
}

.block__accesories {
    background-image: url("img/main/block/accesories.png");
    height: 180px;
    width: 100%;
}

.top__text__block {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.bottom__text__block {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}


/*катрочки товаров*/
.card__header {
    text-align: center;
    margin-bottom: 48px;
}

.card__header__text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;

}

.header__text__card {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.card__features {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    flex-wrap: wrap;
    position: relative;
}

.card__product {
    width: 360px;
    margin(none: nth-child(3)): 0 30 px 30 px 0;
    background: #F8F8F8;
    margin-bottom: 30px;
}

.caption {
    text-align: left;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding: 25px 0 13px 18px;

}
.card__link{
    text-decoration: none;
}

.card__caption {
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding: 0 28px 18px 18px;
}

.card__price {
    text-align: left;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding: 0 0 20px 18px;

}


.buttom__card {
    padding: 13px 38px;
    border: 1px solid #FF6A6A;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    position: absolute;
    left: 42%;
    margin-top: 49px;
    margin-bottom: 96px;
    cursor: pointer;
}

.buttom__card:active {
    background: #E05C6E;
    color: #FFFFFF;
}

/*подвал*/
/*три иконки на черном фоне*/
.footer {
    background: #222224;
    height: 350px;
    width: 100%;
    margin-top: 191px;
}

.footer__nav {
    padding-top: 104px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 104px;
}

.footer__nav__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__nav__img {
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 28px;
}

.footer__nav__head {
    text-align: center;
    padding-bottom: 16px;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;

}

.footer__nav__text {
    text-align: center;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    padding: 0 40px 0 40px;

}

/*беграунд -картинка*/
section {
    background: url("img/main/footer/background photo subscribe.png");
    height: 448px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    /*margin-left: 500px;*/
    align-items: center;
    /*padding-right: 500px;*/
}

.section__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 97px;
    padding-bottom: 126px;


}

.communication {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;

}

.communication__text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    padding-top: 15px;
}

.subscribe {
    padding-right: 61px;
}

.subscribe__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;

}

.subscribe__text__bold {
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
}

form {
    border: none;
    padding-top: 32px;

}

.flex {
    display: flex;
}

.form__text {
    padding: 7px 64px 7px 22px;
    border-radius: 25px 0 0 25px;
    background: #E1E1E1;
    border: none;
}

.form__text::placeholder {
    padding: 10px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
}

.form__text:focus {
    outline: none;
    border: 1px solid red;
}

.form__button {
    border-radius: 0 25px 25px 0;
    border: none;
    background: #E05C6E;
    padding: 18px;
}

.footer__bottom {
    background: #222224;
    width: 100%;

    height: 79px;
}

.footer__bottom__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer__bottom__address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.footer__bottom__icon {
    /*border:1px solid  #F16D7F;*/
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 9px;
}

.footer__bottom__icon:active {
    background: #F16D7F;
    width: 32px;
    height: 32px;
    color: white;
}

/*страница каталога*/
.menu__catalog__background{
    background: #F8F3F4;
    height: 148px;
    width: 100%;
    padding-top: 59px;
}
.menu__catalog{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__catalog{
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;

}
.menu__header__catalog{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}
.menu__header__catalog:hover{
    color: #F16D7F ;
    font-weight: 700;
}
.card__catalog{
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
}
.catalog__card{
    display: flex;
    justify-content: space-between;
}

.left__catalog__card{
    width: 40%;
    display: flex;
    justify-content: flex-start;


}
.catalog__card__filter{
    margin-right: 11px;
}
.right__catalog__card{
    width: 75%;
    display: flex;
    align-items: center;
}
.right__catalog{
    margin-right: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.catalog__card__nav{
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-right: 10px;

}
.catalog__style{
    width: 10px;
    height: 5px;
}
/*.catalog__background__card{*/
/*    display: none;*/
/*}*/
/*.catalog__background__card:hover{*/
/*    background: #c67971;*/
/*    height: 420px;*/
/*}*/

.catal__background__card{

    margin-bottom: 35px;
}
.catal__background__card:hover{

    background: url("img/main/map/map7-2.jpg");
    background-repeat: no-repeat;
}
.png{
      margin-left: 90px;
}

.turn__pages{
    display: flex;
    /*justify-content: center;*/
    border: 1px solid #EBEBEB;
    width: 283px;
    height: 43px;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
}
.turn__pages__box{
    display: flex;
    justify-content: space-around;
    width: 203px;
    height: 19px;
    margin: 0 10px 0 -8px;
padding-bottom: 4px;
    align-items: center;
}
.turn__pages__link{
    text-decoration: none;
}
.turn__pages__number{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #5D5D5D;
    padding-left: 10px;
}

.turn__pages__number:active{
    color: #EF5B70;
}
.turn__pages__img{
    align-items: center;
    padding-top: 4px;
/*padding-left: 10px;*/
}
